.table-container {
  margin: 0 auto;
  border-collapse: collapse;
  line-height: 30px;
  width: 480px;
  text-align: center;
}
.table-container th,
td {
  border: 1px solid black;
}
input[type="checkbox"] {
  cursor: pointer;
}
.table-container thead th:nth-child(n + 2) {
  cursor: pointer;
  user-select: none;
}
