* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
.container {
  border: 1px solid #ccc;
  position: absolute;
  margin: 20px auto;
  left: 50px;
  right: 50px;
}

.container .container-fluid {
  position: absolute;
  width: 220px;
  transition: all 0.5;
}
